.gradle/
.idea/
local.properties
build/
app/build/
Android/.gradle/
Android/.idea/
Android/local.properties
Android/build/
Android/app/build/
SambaTools/.venv/
SambaTools/__pycache__/
SambaTools/.mypy_cache/
*.iml
